/* 
    Basic
*/

body{
    font-family:'Verdana', sans-serif;
}

/* 
    Header 
*/

header {
    display: block;
    width: 100%;
    background-color: #000099;
    color: beige;
    position: relative;
    height: 70px;
    -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    
}

.headerServis{
    background-color: #000099;
}

nav, 
nav ul,
nav ul li{
    margin: 0px;
    padding: 0px;
}

nav{
    padding-top: 20px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 40px;
    font-size: 2em;
}

nav ul li a{
    color: beige;;
}


nav ul li:first-child {
    margin-left: 0px;
}




/* 
    Content
*/

.container{
    /* height: 800px; */
}

.buttonWhite{
    color: white !important;
}



/* 
    Footer
*/

.centerToggleButton{
    text-align: center;
}

.toggleButton{
    width: 160px !important; 
    height: 60px !important;
}

.blueviolet{
    background-color: #cde256;
}

.blue{
    background-color: blue;
}

footer {
    display: block;
    background-color: #000099;
    color: beige;
    height: 70px;
    -webkit-box-shadow: 5px -3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px -3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px -3px 5px 0px rgba(0,0,0,0.75);

    padding-top: 10px;
    padding-bottom: 0;
    position:fixed;
    bottom:0;
    width:100%;
}

.odkaz {
    color: white;
}